body {
    --c-purple: #2C314F;
    --c-blue: #7ACDCF;
    --c-orange: #FCB53B;
    --c-blue-d: #47B4B6;
    --c-orange-d: #F99824;
    --c-smoke: #EFEEE9;
    --c-grey-l: #D5D5D5;
    --c-grey: #AAAAAA;
    --c-grey-d: #464646;
    --c-purple-grey: #1B1D28;
    --cg-blue-dblue: linear-gradient(#7ACDCF, #47B4B6);
    --cg-orange-dorange: linear-gradient(#FCB53B, #F99824);
}

h1 {
    Font-family: Lato;
    Font-size: 70px;
    Font-weight: bold;
    Colour: var(--c-purple);
}

h2 {
    Font-family: Lato;
    Font-size: 55px;
    Font-weight: bold;
    Colour: var(--c-purple);
}

h3 {
    Font-family: Lato;
    Font-size: 40px;
    Font-weight: bold;
    Colour: var(--c-purple);
}

h4 {
    Font-family: Lato;
    Font-size: 24px;
    Font-weight: bold;
    Colour: var(--c-blue);
}


