{% extends 'registration/login.html' %}

{% block title %}{{ title }}{% endblock %}

{% block registration %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-white">Activate Account</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-white">Please complete the form below to start using it</p>
        </div>
    </div>
        <form method="POST">
            {% csrf_token %}
    <div class="row">
        <div class="col-md-12 py-2 text-white">
              {{ form.as_p  }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 py-4">
                  <input type="submit" value="Activate my account">
        </div>
    </div>

        </form>
{% endblock %}