{% extends "base.html" %}
{% load auth_util %}

{% block parent-body %}
	<div class="container-fluid">
        <div class="row">
            <div class='col-md-12 pt-5'>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>User Management</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <tr class="text-center">
                                        <th class="m-5">User name</th>
                                        <th>Group</th>
                                        <th>E-mail address</th>
                                        <th>Email verified</th>
                                        <th>User active</th>
                                        <th>Actions</th>
                                    </tr>
                                    {% for um in user_management %}
                                    <tr class="m-4">
                                        <td>
                                        {{ um.user.first_name }}
                                        {{ um.user.last_name }}
                                        </td>
                                        <td>
                                        {# a user always belongs to only one group, otherwise we would need torefactor this#}
                                        {{ um.user.groups.all.0 }}
                                        </td>
                                        <td>
                                        {{ um.user.email }}
                                        </td>
                                        <td>
                                        {{ um.email_confirmed}}
                                        </td>
                                        <td>
                                        {{ um.user.is_active }}
                                        </td>
                                        <td>
                                            <a href="{% url 'edit-usermgmt' um.user.id %}">Edit</a>
                                            {% if user|has_group:"Provinces" %}
                                                {% if um.user.is_active %}
                                                    <a href="{% url 'disable-usermgmt' um.user.id %}">Disable</a>
                                                {% else %}
                                                    <a href="{% url 'enable-usermgmt' um.user.id %}">Enable</a>
                                                {% endif %}
                                            {% endif %}
                                            <a href="#">Clone</a>
                                            <a href="{% url 'remove-usermgmt' um.user.id %}" onclick="return confirm('Are you sure want to delete {{ um.user.username }}?');">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                                <form action="/ford3/user_mgmt/add/" method="post">
                            {% csrf_token %}
                            {{ form.group }}
                                    <div class="row">
                                        <div class="col-md-12 my-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Email
                                                </div>
                                                <div class="col-md-5">
                                                    {{ form.email}}
                                                    {% if form.email.errors %}
                                                        <p class="text-warning">{{ form.email.errors }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="edu-button edu-button-blue my-0"
                                                                type="submit"
                                                                value="submit">Add User
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
