{% extends 'index.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block parent-body %}
<div class="container-fluid" id="login-page">
    <div class="row py-5">
        <div class="card col-md-4 mx-auto" id="login-form">
            <div class="row">
                <p class="open-edu-logo-login mx-auto"><span class='text-white'>Open</span><span class='text-blue'>Edu</span></p>
            </div>
            <div class="row">
                <div class="user-icon mx-auto">
                </div>
            </div>
            <div class="row">
                <h4 class="mx-auto text-white">Login</h4>
            </div>
              <form method="post">
                {% csrf_token %}
                      {% for field in form  %}
                          <div class="row my-3">
                              <div class="w-100 mx-3">{{ field }}</div>
                          </div>
                      {% endfor  %}
                <div class="row">
                    <button class="edu-button edu-button-orange mx-3" type="submit">Login</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
	<footer class='container-fluid mt-5'>
		<div class='row'>
			<div class='col-md-2 mx-auto'>
				<p>
				<small>Powered by <a href="http://www.kartoza.com" target="_blank">Kartoza</a> - 2019</small>
				</p>
			</div>
		</div>
	</footer>
{% endblock %}
