{% extends 'registration/login.html' %}

{% block title %}{{ title }}{% endblock %}

{% block registration %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-white">Set a new password</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-white">Your account is now active. Please set a new password</h5>
        </div>
    </div>
        <form method="POST">
            {% csrf_token %}
    <div class="row">
        <div class="col-md-12 py-2 text-white">
              {{ form.as_p  }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 py-4">
                  <input type="submit" value="Change my password">
        </div>
    </div>

        </form>
{% endblock %}