{% extends 'registration/login.html' %}

{% block title %}{{ title }}{% endblock %}

{% block registration %}
    <div class="row">
        <div class="col-md-12">
            <div class="user-icon mx-auto">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-white">{{ title }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-white">Your new password has been set. <br />
                <a href="{% url 'login' %}">Click here</a> to login
            </p>
        </div>
    </div>
{% endblock %}
