{% extends 'registration/login.html' %}

{% block title %}Login{% endblock %}

{% block registration %}


<div class="row">
	                <div class="col-md-12">
	                    <h4 class="text-center text-white">Sign Up</h4>
	                </div>
	            </div>
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="row">
	        <div class="col-md-12 py-2 text-white">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-12 py-2">
        <button class="edu-button edu-button-orange mx-3 my-4" type="submit">Sign Up</button>
      </div>
  </div>
  </form>
{% endblock %}