{% extends "index.html" %}
{% load static %}

{% block head %}
    <script src="https://getbootstrap.com/docs/4.3/examples/offcanvas/offcanvas.js"></script>
{% endblock %}

{# navbar  #}
{% block navbar %}
<nav class="navbar navbar-expand-lg fixed-top">
    {% block dashboard_menu %}
    {% endblock %}
    {# logo for medium screens #}
    <div class="open-edu-logo col-md-2 text-center d-none d-md-block">
        <a href="{% url 'dashboard' %}" style='text-decoration: none;' class="navbar-brand">
            <span class='text-white'>Open</span><span class='text-blue'>Edu</span>
        </a>
    </div>
    {# logo for smal screens #}
    <a href="{% url 'dashboard' %}" style='text-decoration: none;' class="d-md-none navbar-brand">
            <span class='text-white'>Open</span><span class='text-blue'>Edu</span>
    </a>
    {# end of logo #}
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse">
        <ul class="navbar-nav ml-md-auto text-right">
            <li class="nav-item">
                <p class="nav-link text-white">{{ user.first_name }} {{ user.last_name }}</p>
            </li>
            <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link text-white">Dashboard</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                <a class='nav-link text-white' href='/site-admin'>Administration</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'logout' %}?next=/accounts/login" class="nav-link text-white">Logout</a>
            </li>
        </ul>
    </div>
{# end of menu for different screens #}
</nav>
{% endblock %}

{% block parent-body %}
	<div class="container-fluid mt-5">
        <div class="row px-0">

	{# sidebar #}
    {# we need this block to disable the block in provider_form.html #}
    {% block side_navbar %}
    <nav id="sidebar" class="col-md-2 px-0 d-none d-sm-none d-lg-block">
        <div class="container-fluid px-0">
            <div class="col-12">
                <div id="provider-photo" class="provider-photo">
                    {% if provider_logo %}
                        <img src="{{ provider_logo }}" class="img-provider-photo"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 side-bar-title" id="provider-name">
                {% if provider %}
                    <a href="{% url 'show-provider' provider.id %}">{{ provider.name }}</a>
                {% endif %}
            </div>
            <div class='col-md-12 px-0'>
                <ul>
                    {% for campus in provider.campus %}
                        <li>
                            {% url 'show-campus' provider.id campus.id as show_campus %}
                            {% if show_campus %}
                                <a href="{{ show_campus }}">{{ campus.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
	        {% include 'sidebar-footer.html' %}
    </div>
		{% include 'main_sidebar.html' %}

    </nav>
    {# end of sidebar #}
    {% endblock %}

    {# content #}
    <div class='container mt-3 col'>
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}
