<script type="text/template" id="add-campus-event">
    <input type="hidden" name="campus_form_wizard-current_step" value="2" id="id_campus_form_wizard-current_step">

    <input type="hidden" name="csrfmiddlewaretoken"
        value="D8cGH7dqQd8qdI1cByxRIfu9nlTZ6XJif4yDP9XD5f28juGxcbdbJlboCqFybrRo">
    <div id="div_id_2-event_name" class="form-group row"> <label for="id_2-event_name" class="col-form-label col-md-3">
            Event name
        </label>
        <div class="col-md-9"> <input type="text" name="2-event_name" placeholder="Open day, ..."
                class="textinput textInput form-control" id="id_2-event_name"> </div>
    </div>
    <div id="div_id_2-date_start" class="form-group row"> <label for="id_2-date_start" class="col-form-label col-md-3">
            Starting date:
        </label>
        <div class="col-md-9"> <input type="text" name="2-date_start" value=""
                class="col-md-4 dateinput form-control hasDatepicker" id="id_2-date_start"> </div>
    </div>
    <div id="div_id_2-date_end" class="form-group row"> <label for="id_2-date_end" class="col-form-label col-md-3">
            Ending date
        </label>
        <div class="col-md-9"> <input type="text" name="2-date_end"
                class="col-md-4 dateinput form-control hasDatepicker" id="id_2-date_end"> </div>
    </div>
    <div id="div_id_2-http_link" class="form-group row"> <label for="id_2-http_link" class="col-form-label col-md-3">
            Link to event
        </label>
        <div class="col-md-9"> <input type="text" name="2-http_link" placeholder="http://..."
                class="textinput textInput form-control" id="id_2-http_link"> </div>
    </div>
</script>
