<nav id="sidebar" class="sidebar col-md-2 px-0 d-none d-sm-none d-lg-block">
    <div class="container-fluid px-0">
        <div class="col-md-12">
            <ul class='mt-5'>
                <li>
                    <a href="{% url 'dashboard' %}">Providers</a>
                </li>
                {% if perms.ford3.view_user %}
                <li>
                    <a href="{% url 'dashboard-users' %}">Users</a>
                </li>
                {% endif %}
            </ul>
         {% include 'sidebar-footer.html' %}
        </div>
    </div>
</nav>
