{% extends 'index.html' %} {# ../../core/base_templates/index.html #}

{% block title %}
	Provider Form
{% endblock %}

{% block body_content %}
	<div class="col-12">
		<div class="container">
			<div class="row">
				<h1>Welcome, False Bay College </h1>
			</div>
			<div class="row">
				Thank you for registering your provider on the edugateway
				platform.
				Please fill in your provider details below.
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row edu-underline">
				<h4>Provider Details</h4>
			</div>
			<br>
			<div class="row">
				<div class="col-4 npl">Provider Logo</div>
				<div class="col-8">
					<div class="provider-form-photo">

					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-4 npl centerv">
					Provider Type:
				</div>
				<div class="col-8">
					<div class="btn-group">
						<button type="button"
								class="edu-button edu-dropdown-button dropdown-toggle"
								data-toggle="dropdown">
							Knock knock
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Who</a>
							<a class="dropdown-item" href="#">Is</a>
							<a class="dropdown-item" href="#">There</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">?</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row edu-underline">
				<h4>Central Office Contact Details</h4>
			</div>
			<div class="row mt1">
				<div class="col-4 centerv npl">
					Tel. Number:
				</div>
				<div class="col-8">
					<input type="text" placeholder="••• ••• ••••"/>
				</div>
			</div>

			<div class="row mt1">
				<div class="col-4 centerv npl">
					Email:
				</div>
				<div class="col-8">
					<input type="text" placeholder="••• ••• ••••"/>
				</div>
			</div>

			<div class="row mt1">
				<div class="col-4 npl">
					Physical Address
				</div>
				<div class="col-8">
					<input type="text" placeholder="Address Line 1"/>
					<input type="text" class="mt1"
						   placeholder="Address Line 2"/>
					<div class="row">
						<div class="col-lg-7 col-sm-12 mt1">
							<input type="text" placeholder="City"/></div>
						<div class="col-lg-5 col-sm-12 mt1">
							<input type="text" placeholder="Postal / ZIP Code"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt1">
				<div class="col-4 centerv npl">
					Confirm Address on Map:
				</div>
				<div class="col-8" id="map" class="map">
					Insert Map here
				</div>
			</div>
			<div class="row mt1 edu-underline">
				<h4>Campuses</h4>
			</div>
			<div class="row mt1">
				<div class="col-4 npl">
					Number of Campuses
				</div>
				<div class="col-6" style="padding: 0.5rem; padding-left: 1rem;">
					<input type="range" min="1" max="10" value="1"
						   class="range-slider centerv" id="campus-count">
				</div>
				<div class="col-2">
					<div id="number-of-campuses" class="number-of-campuses">1
					</div>
				</div>
			</div>
			<div id="campus-names-input-wrapper">
				<div class="row mt1">
					<div class="col-4 centerv npl">
						Name of Campus 1:
					</div>
					<div class="col-8">
						<input type="text" placeholder="•••••••••••••••••"/>
					</div>
				</div>
			</div>
			<div class="row mt1">
				<div class="col-4"></div>
				<div class="col-3">
					<button class="edu-button edu-button-blue">Submit</button>
				</div>
			</div>
			<div class="row mt1">
			</div>
		</div>
	</div>

	<style>
		{#	npl = no padding left #}
		.npl {
			padding-left: 0;
		}

		.provider-form-photo {
			background-color: #efeee9;
			min-width: 225px;
			margin-top: 0;
			width: 225px;
			margin-left: 0;
			height: 225px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
		}

		{# Center vertically #}
		.centerv {
			margin-top: auto;
			margin-bottom: auto;
		}

		.mt1 {
			margin-top: 1rem;
		}

		.number-of-campuses {
			border: 1px solid #aaaaaa;
			border-radius: 4px;
			padding: 0.5rem;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			color: #aaaaaa;
			width: 100%;
		}

		#campus-names-input-wrapper {
			transition-duration: 1s;

			transition-property: opacity;
		}

		.map {
			height: 400px;
			width: 100%;
		}

		@keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		/* Firefox < 16 */
		@-moz-keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		/* Safari, Chrome and Opera > 12.1 */
		@-webkit-keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		/* Internet Explorer */
		@-ms-keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		/* Opera < 12.1 */
		@-o-keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		.campus-name-fade-in {
			-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			-ms-animation: fadein 2s; /* Internet Explorer */
			-o-animation: fadein 2s; /* Opera < 12.1 */
			animation: fadein 2s;
		}
	</style>

	<script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 4
            })
        });

        var slider = document.getElementById('campus-count');
        var output = document.getElementById('number-of-campuses');
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
            createCampusNameInputs(this.value);
        }


        function createCampusNameInputs(campus_count) {
            var i;
            var result_html = '';
            var campus_container = document.getElementById('campus-names-input-wrapper');
            campus_container.innerHTML = '';
            for (i = 0; i < campus_count; i++) {
                result_html += `
					<div class="row mt1 campus-name-fade-in">
						<div class="col-4 centerv npl">
							Name of Campus ${i + 1}:
						</div>
						<div class="col-8">
							<input id="campus_name_${i + 1}" type="text" placeholder="•••••••••••••••••"/>
						</div>
					</div>`
            }
            campus_container.innerHTML = result_html;
        }
	</script>
{% endblock body_content %}


