{% extends 'base.html' %}
{% load static %}


{% block title %}
	Providers • Dashboard
{% endblock %}

{% block body %}
	<div id="provider-dashboard" class="container">
		<div class="row">
			<h1>Provider dashboard</h1>
		</div>
		{% for provider in providers %}
			<div class="row">
			<div class="card col-md-12 mb-3
">
				<div class="card-header">
					<div class="col-md-12">{{ provider.name }}</div>
				</div>
				<div class="card-body">
					{% for campus in provider.campus %}

						<div class="col-md-4 card mb-5 border-0">
							<h2>{{ campus.name }}</h2>
						</div>
					{% endfor %}
				</div>
			</div>


		{% endfor %}
	</div>
	</div>
{% endblock %}


{% block footer %}
	<script type="text/javascript" src="{% static 'js/provider_dashboard.js' %}"></script>
{% endblock %}

