{% extends 'index.html' %}

{% block title %}
	Provider Form
{% endblock %}

{% block body_content %}
	<form action="/ProviderForm/" method="post">
	{% csrf_token %}
	<div class="col-12">
		<div class="container">
			<div class="row">
				<h1>Welcome, False Bay College </h1>
			</div>
			<div class="row">
				Thank you for registering your provider on the edugateway
				platform.
				Please fill in your provider details below.
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row edu-underline">
				<h4>Provider Details</h4>
			</div>
			<br>
			<div class="row">
				<div class="col-4 npl">Provider Logo</div>
				<div class="col-8">
					<div class="provider-form-photo">

					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-4 npl centerv">
					Provider Type:
				</div>
				<div class="col-8">
					<div class="btn-group">
						<button type="button"
								class="edu-button edu-dropdown-button dropdown-toggle"
								data-toggle="dropdown">
							Knock knock
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Who</a>
							<a class="dropdown-item" href="#">Is</a>
							<a class="dropdown-item" href="#">There</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">?</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row edu-underline">
				<h4>Central Office Contact Details</h4>
			</div>
			<div class="row mt1">
				{{ form.sender.errors }}
				<div class="col-4 centerv npl">
					Tel. Number:
				</div>
				<div class="col-8">
					{{ form.telephone }}
				</div>
			</div>

			<div class="row mt1">
				<div class="col-4 centerv npl">
					Email:
				</div>
				<div class="col-8">
					<input name="provider_email" type="text" placeholder="example@example.com"/>
				</div>
			</div>

			<div class="row mt1">
				<div class="col-4 npl">
					Physical Address
				</div>
				<div class="col-8">
					<input id="provider_address_line_1" type="text" placeholder="Address Line 1"/>
					<input id="provider_address_line_2" type="text" class="mt1"
						   placeholder="Address Line 2"/>
					<div class="row">
						<div class="col-lg-7 col-sm-12 mt1">
							<input id="provider_address_city" type="text" placeholder="City"/></div>
						<div class="col-lg-5 col-sm-12 mt1">
							<input id="provider_address_postal_code" type="text" placeholder="Postal / ZIP Code"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt1">
				<div class="col-4 centerv npl">
					Confirm Address on Map:
				</div>
				<div class="col-8" id="map" class="map">
					Insert Map here
				</div>
			</div>
			<div class="row mt1 edu-underline">
				<h4>Campuses</h4>
			</div>
			<div class="row mt1">
				<div class="col-4 npl">
					Number of Campuses
				</div>
				<div class="col-6" style="padding: 0.5rem; padding-left: 1rem;">
					<input type="range" min="1" max="10" value="1"
						   class="range-slider centerv" id="campus-count">
				</div>
				<div class="col-2">
					<div id="number-of-campuses" class="number-of-campuses">1
					</div>
				</div>
			</div>
			<div id="campus-names-input-wrapper">
				<div class="row mt1">
					<div class="col-4 centerv npl">
						Name of Campus 1:
					</div>
					<div class="col-8">
						<input name="campus_name_1" type="text" placeholder="•••••••••••••••••"/>
					</div>
				</div>
			</div>
			<div class="row mt1">
				<div class="col-4"></div>
				<div class="col-3">
					<button type="submit" class="edu-button edu-button-blue">Submit</button>
				</div>
			</div>
			<div class="row mt1">
			</div>
		</div>
	</div>
	</form>
{% endblock body_content %}

{% block page_scripts %}
{% endblock %}
